* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

header {
  width: 100vw;
  height: 60px;
  position: fixed;
  background: rgb(235, 154, 44);
}

div.container {
  width: 1200px;
  max-width: 1200px;
  min-width: 980px;
  margin: auto;
}

.position_logo {
  width: 10%;
  font-family: 'Tw Cen MT Condensed Extra Bold';
  top: 14px;
  left: 0px;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: fixed;
}
figure.animate {
    padding-top: 170px;
    margin: auto;
    width: 400px;
    height: 500px;
}

h2 {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  padding-bottom: 7rem;
  padding-top: 80px;
}

nav {
  width: 100%;
  height: 50px;
  float: left;
  background-color: rgb(235, 154, 44);
  opacity: 0.8;
  position: fixed;
}

nav ul li {
  list-style: none;
  float: left;
  display: block;
  line-height: 50px;
  text-align: center;
  padding-left: 12rem;
}

nav ul li a {
  color: snow;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: rgb(66, 57, 45);
  border-bottom: 2px solid rgb(66, 57, 45);
  transition: 1s
}

table {
  width: 90vw;
  border: 1px solid black;
  margin: auto;
}

th, td {
  padding: 15px;
}

p {
  padding: 20px;
}

.submit, .submit-2 {
  padding: 7px;
  width: 200px;
  background-color: transparent;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid black;
  margin-left: 10%
}

.submit:hover {
  background-color: rgb(66, 57, 45);
  color: white;
}

.submit-2:hover {
  background-color: red;
  color: white;
}

input {
  padding: 8px;
  width: 210px;
  text-align: center;
}

section, footer {
  text-align: center;
}

p, a {
  font-family: 'Exo 2', sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}

section {
  height: 100vh;
}

form {
  margin-left: 38%;
  text-align: left;
}

#ajout_ref_prod {
  margin-left: 50px;
}

#ajout_nom_prod {
  margin-left: 87px;
}

#ajout_prix_prod {
  margin-left: 95px;
}

#ajout_description_prod {
  margin-left: 42px;
}

#ref_prod {
  margin-left: 95px;
}

#nom_prod {
  margin-left: 60px;
}

#prix_prod {
  margin-left: 65px;
}

#description_prod {
  margin-left: 10px;
}

hr {
  width: 400px;
}

footer {
  height: 50px;
  background-color: rgb(235, 154, 44);
  color: white;
}
